<div class="col-xs-12 col-sm-6 col-md-4 product">
  <%= link_to image_tag(male_bettum.image_url, class: "img-responsive"), male_bettum %>
  <h3 class="pName"><%= link_to male_bettum.name, male_bettum %></h3>
  <p><%= male_bettum.description %> </p>
  <hr>
  <p class="price">
    <strong> <%= number_to_currency(male_bettum.price) %> </strong>
  </p>
</div>
