<div class="container">
  <h1>Betta Basics</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img id="basicsImg" src="https://gobetta.com/wp-content/uploads/2017/02/DoubleTailWhite.png">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p><strong>Betta Splendens,</strong> also called Siamese fighting fish, are very colorful freshwater fish. They are popular pets and can be found in many petstores everywhere. Here are a few basics in betta fish care, as well as popular misconceptions about the species. </p>
      <ul class="bettabasics">
        <li><b>Tank Size:</b> 5 gallon aquarium recommended, with a minimum of 2.5 gallon. Don't let pet stores fool you; while bettas can survive in less than favorable conditions, it is not a good idea to keep your bettas in a cup. They need space to swim around, and small tanks just can't give that to them.</li>
        <li><b>Temperature:</b> Bettas are from tropical climates and water temperatures should never drop below 74°F (23.5°C) and ideally should remain between 78° and 80° F (25.5° and 26.5 C). Purchase a submersible heater and a thermometer for your betta. Preset heaters are good options. Most heaters are designed for 5 gallons or more, so be sure to check your tank is compatible with the wattage.</li>
        <li><b>Filter:</b> Bettas have large fins that make it difficult for them to swim in strong currents. Sponge filters are good options for betta setups, because it is gentle enough and helps keep your water in good condition for longer. Opting out of filters will mean you will need to do more water changes to keep the water clean.</li>
        <li><b>Maintenance:</b> A weekly 25% water change will be required to keep the water clean and your betta healthy. Ammonia, nitrites and nitrates will build up in the water from uneaten food and poop. These are poison to the betta and can make them susceptible to sickness. DO NOT wash your aquariums with soap. It will leave a residue, and you don't want that in your tank. If you are using tap water, use a water conditioner. It is designed to neutralize chloramines and other metals that are unsafe for your fish. Aquarium salts (NOT table salt) can be added to further improve fish health. Cloudy water and algae blooms are signs that mean a water change is past due, and may also signal other issues with the tank.</li>
        <li><b>Decorations:</b> Bettas like having furniture in their home, but betta fins are delicate and can tear on sharp edges. Silk plants are safe for bettas, and live plants are great options that can also improve water conditions. Bettas like to rest near the surface of the water, so a leaf or a betta hammock are also good additions.</li>
        <li><b>Accessories:</b> Keep a water test kit on hand. Because bettas are small animals, you need to act fast once symptoms of sickness appear.</li>
        <li><b>Cycling:</b> Before you purchase your betta, make sure you have set up a cycled tank. If you already have a betta in a newly set up aquarium, add some nitrifying bacteria to fast track the cycling process. A cycled tank has an established colony of bacteria that keep the nitrate and ammonia at safe levels. Without this, your aquarium will suffer from ammonia spikes that will burn your betta's fins and gills. Many first-time aquarium owners make this mistake and end up losing their betta within days or weeks of adopting it. I will eventually add instructions to cycling, but now is not the time.</li>
      </ul> <!-- end bettabasics -->
    </div> <!-- end col -->
  </div> <!-- end row -->
</div> <!-- end container -->
