<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= form_for([@male_bettum, @male_bettum.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Leave a review" %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <div class="rating"></div>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
  <% end %>
<% end %>
