<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-md-12">

      <h1>Male Bettas</h1>

      <%= render @male_betta %>

      <br>

      <% if signed_in? && current_user.admin? %>
        <div class="add-button">
          <%= link_to 'Restock', new_male_bettum_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
