// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#featured_h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}

#carousel {
  margin:0;
  width: 100vw;
  left: -15px;
  top: -90px;
}

.item > img{
  margin: auto;
}

.carousel-caption {
  position: relative;
  left:auto;
  right: auto;
}

.carousel-caption > p {
  font-family: 'Julius Sans One', 'Futura', 'Verdana', 'Arial', sans-serif;
  font-size: 2em;
  margin: 0 0 25px 0;
}

.item > img,
.carousel-inner,
.carousel,
#carousel {
  max-height: 400px;
}

.thanks {
  margin-top: 6em;
}

.form_devise {
  background-color: #9bccdd;
  margin: auto;
  width: 320px;
  padding: 20px;
}

.form_devise_tb {
  width: 280px;
  height: 40px;
}

.form_devise_cbox,
.form_devise_label {
  display: inline;
  width: auto;
}

.form_devise_input {
  width: 280px;
  height: 40px;
}

#homeImg {
  width: 100%;
}

.sidebar img{
  width: 280px;
}

@media (min-width: 979px) {
    #sidebar.affix-bottom {
        position: relative;
        margin-top:120px;
    }

    #sidebar.affix-top {
        position: static;
        margin-top:120px;
    }

    #sidebar.affix {
        position: fixed;
        top:120px;
    }
}

#sidebar.affix-top{
    position:static;
}

#nav1.affix-bottom {
    position: relative
}
