// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Quicksand', 'Futura', 'Verdana', 'Arial', sans-serif;
  background-color: #efefef;
  margin:0;
}

nav {
  padding-right: 3em;
  background: #f6f8f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // box-shadow: 0 0 50px #727171;
}

.navbar-inverse {
  border: none;
}

.my-placeholder {
  max-height: 500px;
  width: 500px;
  margin: auto;
}

footer {
  clear:both;
  position: sticky;
  padding-right: 3em;
  text-align: right;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  font-family: 'Julius Sans One', 'Futura', 'Verdana', 'Arial', sans-serif;
  text-align: center;
  color: #5f6268;
  margin-top: 4em;
}

h2 {
  font-family: 'Quicksand', 'Futura', 'Verdana', 'Arial', sans-serif;
  margin-left: 1em;
}

h3 {
  height: 50px;
  font-size: 2em;
  font-weight: 600;
}

.welcome {
  text-align: left;
}

.big-logo > img {
  margin-top: 6em;
  width: 200px;
}

#featured_h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}

#carousel {
  margin:0;
  padding: 100px 0 0 0;
  width: 100vw;
  min-height: 80vh;
  max-height: 100vh;
  left: -15px;
}

.item > img{
  max-height: 70vh;
  margin: auto;
  padding-top: 80px;
}

.carousel-caption {
  position: relative;
  left:auto;
  right: auto;
}

.carousel-caption > p {
  font-family: 'Julius Sans One', 'Futura', 'Verdana', 'Arial', sans-serif;
  font-size: 2em;
  margin: 0 0 25px 0;
}
