<div class="container">
  <h1>Editing Product</h1>

  <div class="col-md-6 form">
    <%= render 'form', product: @product %>

    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>

</div>
