<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Products</h1>

  <h2 class="section-title"> 3D Models </h2>

  <%= render @products %>

  <br>

  <div class="add-button">
    <%= link_to 'Add New Product', new_product_path %>
  </div>

</div>
