<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-md-12">

      <h1>Products</h1>

      <h2 class="section-title"> Live Betta </h2>

      <%= render @products %>

      <br>

      <div class="add-button">
        <%= link_to 'Add New Product', new_product_path %>
      </div>
    </div>
  </div>
</div>
